site_name: ハラショー
site_url: https://uni-lamb.github.io/blog/

nav:
  - Home: index.md
  - 笔记:
    - notes/index.md
    - Machine Learning: 
      - notes/MachineLearning/index.md
      - 数学基础: notes/MachineLearning/MathFoundation.md
      - 决策树: notes/MachineLearning/DecisionTree.md
      - 回归与分类: notes/MachineLearning/CostFunction.md
      - 贝叶斯理论: notes/MachineLearning/Bayes.md
      - 支持向量机: notes/MachineLearning/SVM.md
      - 聚类算法: notes/MachineLearning/Clustering.md
      - 神经网络: notes/MachineLearning/NeuralNetwork.md
      - 特征工程: notes/MachineLearning/FeatureEngineering.md
  - 博客:
    - blog/index.md
  - 关于我:
    - about/index.md
  - 友链:
    - friends/友链.md

theme: 
  name: material
  custom_dir: docs/overrides  # 启用自定义模板
  palette:    
    # Palette toggle for dark mode
    - scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
      primary: amber
      accent: deep purple
    # Palette toggle for light mode
    - scheme: default
      toggle:
        icon: material/brightness-7 
        name: Switch to dark mode
      primary: black
      accent: lime

  features:
    - search.suggest
    - navigation.tracking
    - navigation.footer
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.indexes



plugins:
  - blog:
      blog_toc: true
      archive_date_format: MMMM yyyy

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tilde # 渲染~~表示删除线
#  - typst # 需要在code block第一行标记"// typst preview"
          
hooks:
  - hooks/typst_math.py

extra_css:
  - stylesheets/extra.css
  - https://static.zeoseven.com/zsft/292/main/result.css

extra:
  # Typst integration settings (hook reads these)
  # typst_cmd: path to typst executable (default: typst)
  # typst_cwd: working directory for typst process (useful when using submodules)
  # typst_cache_dir: directory to store typst-generated svg cache
  # typst_prelude: lines to inject before every typst compile (e.g., import statements)
  typst_cmd: typst
  typst_cwd: ./typst-packages
  typst_cache_dir: .typst_cache
  typst_prelude: |
    #show math.text: it => {
      set text(font: "LXGW WenKai")
      it
    }
    #import "physica/physica.typ": *
